.clock {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f0f0f0;
  position: relative;
  margin: 20px auto;
}

.clock-face {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background: #333;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  width: 40%;
  left: 10%;
  height: 8px;
}

.minute-hand {
  width: 45%;
  left: 5%;
  height: 6px;
}

.second-hand {
  width: 50%;
  left: 0%;
  height: 2px;
  background: #ff0000;
}

.center-point {
  width: 12px;
  height: 12px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}