<div class="flip-clock">
  <div class="time-group">
    <div class="digit" [class.flip]="animateHoursTens">{{ hours[0] }}</div>
    <div class="digit" [class.flip]="animateHoursOnes">{{ hours[1] }}</div>
  </div>
  <span>:</span>
  <div class="time-group">
    <div class="digit" [class.flip]="animateMinutesTens">{{ minutes[0] }}</div>
    <div class="digit" [class.flip]="animateMinutesOnes">{{ minutes[1] }}</div>
  </div>
  <span>:</span>
  <div class="time-group">
    <div class="digit" [class.flip]="animateSecondsTens">{{ seconds[0] }}</div>
    <div class="digit" [class.flip]="animateSecondsOnes">{{ seconds[1] }}</div>
  </div>
</div>